.skills-container {
    overflow: hidden;
    display:flex;
    flex-direction: row;
}

.skills-header {
    font-weight: bold;
    text-align: center;
}

.skill-section {
    width:50%;
    border: solid 1px;
}

.skill-section.frontend{
    margin: 10px 10px 0px 0px;

}

.skill-section.backend{
    margin: 10px 0px 0px 10px;
}

.skill {
    list-style-type: none;
    text-align: center;
    margin:10px 0;
    cursor: pointer;
}

.skill:hover{
    color: gray;
}